*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole LAYOUT*/

.menù{
    height: 80px;
    background-color: #0084fd;
    margin-bottom: 30px;
}
.container{
    border: solid 3px black;
    margin: auto;
    display: flex;
}

.spacebetween{
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-direction: row;
}

.cards{
    background-color: #b5ddff;
    border-radius: 5%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10PX;
}
.container{
    flex-direction: column;
}

.testo{
    height: calc((100% - 10px) / 2);
}
.immagine{
    height: calc((100% - 10px) / 2);
}

.planning{
    background-color: #9792e4;
    margin-top: 30px;
    margin-bottom: 30px;
    
}
.cardNone{
    background-color: transparent;
}
.CardWhite{
    background-color: white;
}
.testimonials .container .cards{
    background-color:#9792e4 ;
}

.benefit{
    background-color: #9792e4;
}

.getStarted{
    background-color: #9792e4;
}
.foot{
    background-color: #333333;
}


/* REGOLE MEDIA QUERY*/

@media screen and  (max-width:468px) {
    .container{
        width:95% ;
    }
    .testimonials .container{
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
    .aboutUs .container{
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
}
@media screen and (min-width:678px) {
    .container{
        width:75% ;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .testimonials .container{
        flex-direction: column;
        align-items: center;
        padding-top: 30px;

    }
    .cards{
        width: 33%;
    }
    .testimonials .container .cards{
        width: 90%;
    }
    #bigCards{
        width:66%
    }
    .planning .container{
        justify-content: center;

    }
    #cardNone{
            margin-right: 5px;
    }
    .benefit .container{
        flex-direction: row;
        justify-content: space-between;
    }
    .benefit .container .cards{
        width: 49%;
    }
    .aboutUs .container{
        flex-direction: row;
        justify-content: space-between;
    }
    .aboutUs .container .cards{
        width: calc(99% / 2);
    }
    .getStarted .container{
        width: 50%;
    }
    .foot .container{
        width: 50%;
    }
}

@media screen and (min-width:1000px) {
    .container{
        width:60% ;
    }
    .testimonials .container{
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }
    .benefit .container .cards{
        width: calc(99% / 3);
    }
    .getStarted .container{
        width: 30%;
    }
    .foot .container{
        width: 30%;
    }
}   